<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
<!-- 사실 이 앞에는 빈스가 생략되어 있다. 딱 하나 생략 가능한 것은 디폴트 스키마 -->

	<bean
	id = "dataSource"
	class = "org.apache.commons.dbcp.BasicDataSource"
	p:driverClassName="org.mariadb.jdbc.Driver"
	p:url="jdbc:mariadb://localhost:3306/xe"
	p:username="scott" p:password="tiger"
	/>
	
	<bean
	id = "jdbcTemplate"
	class = "org.springframework.jdbc.core.JdbcTemplate"
	p:dataSource-ref = "dataSource"
	/>
	
	<!-- <bean
	id = "deptDao"
	class = "com.bit.sts03.dept.model.DeptDao01Impl"
	/> 어노테이션으로 Dao 주입하겠습니다-->
	
	<!-- <context:annotation-config/> -->

	<!-- <context:component-scan base-package="com.bit.sts03.dept.model"></context:component-scan> -->
	<!-- Dao 클래스에 component 어노테이션을 설정하고, xml에서는 component를 스캔 -->
	<!-- component 스캔에는 context:annotation을 포함 -->
	<!-- 이미 servlet-context.xml에 정의되어 있으므로 두번 정의하면 안됨 -->

</beans>
